/* All block-level elements take up 100% of the 
width of the parent element */

#main-content div {
  background-color: #ccc;
  margin: 0 0 20px 0;
}

.static-width {
  width: 700px;
  height: 100px;
}

/* Whatever width the parent element is the width
of this element will be 70% of it */
.percentage-width {
  width: 70%;
  height: 50px;
}

.inline-block {
  width: 40%;
  display: inline-block;
}
